@font-face {
    font-family: Regular;
    src: url(./fonts/SourceSansPro-Regular.otf);
}
html {
    font-family: Regular;
}
#homemenu img {
    height: 300px;
}
#map {
    height: 400px;
}
#rss {
    width: 20px;
    height: 15px;
}
.menu li {
    list-style: none;
    float: left;
}
.region-header .menu {
      margin-top: 50px;
  }
.region-footer .menu {
    margin-top: -20px;
}

.sharethis-wrapper span:nth-child(1){
    height: 23px;
}
.views-row {
    width: 48%;
    float: left;
    height: 240px;
    margin-bottom: 200px;
    margin-right: 2%;
}
.field-item {
    cursor: default;
    pointer-events: none;
}
.field-item a {
    color: black;
}
.views-label {
    display: none;
}